{% extends "layout.html" %}

{% block body %}
<div>Episode lists from <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a> for:</div>

<h1 class="text-center mt-5 mb-5">“{{ episode.series_name }}”</h1>

{% if show_random %}

<div class="random-episode text-center">

<div>
Your random episode of {{ episode.series_name }} is...
</div>

<div class="h2 mt-2 mb-2 display-4">{{ episode.name }}</div>

<div class="h4">from season {{ episode.season_number }}</div>

<p>This episode was picked from {{ all_episodes|length }}
episodes we found of {{ episode.series_name }}.</p>

</div>

<form class="text-center mt-5 mb-5" action="{{ url_for('random_episode', wikidata_item=episode.series_item) }}" method="post">
  <input class="btn-lg btn-primary" style="white-space: normal" type="submit" value="Nah, give me another random episode">
</form>

{% else %}

<form class="text-center mt-5 mb-5" action="{{ url_for('random_episode', wikidata_item=episode.series_item) }}" method="post">
  <input class="btn-lg btn-primary" style="white-space: normal" type="submit" value="Suggest a random episode of {{ episode.series_name }}">
</form>

{% endif %}

<h2>Data quality issues</h2>

{% if report_items %}
  {% include 'problem-report.html' %}
{% else %}
  <p>
  No issues found at the season level, but check the table below
  for missing data.
  </p>
{% endif %}

<h2>Episodes considered</h2>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Item</th>
    <th>Number</th>
    <th>Production Code</th>
  </tr>
  </thead>
  <tbody>
{% for season_tuple, episodes in episodes_table_data %}
  <tr>
    <th colspan="4">Season {{ '[Missing P1545 (series ordinal) qualifier]' if season_tuple[1] is none else season_tuple[1] }} <a href="https://www.wikidata.org/wiki/{{ season_tuple[0] }}">{{ season_tuple[0] }}</a> {% if season_tuple[2] %}— {{ season_tuple[2] }}{% endif %}</a></th>
  </tr>
  {% for episode_data in episodes %}
    <tr>
      <td>{{ episode_data.name }}</td>
      <td><a href="https://www.wikidata.org/wiki/{{ episode_data.item }}">{{ episode_data.item }}</a></td>
      <td>{{ episode_data.episode_number if episode_data.episode_number else '[Missing]' }}</td>
      <td>{{ episode_data.production_code if episode_data.production_code else '' }}</td>
    </tr>
  {% endfor %}
{% endfor %}
  </tbody>
</table>

{% include 'purge-button.html' %}
{% include 'all-episodes-query.html' %}

{% endblock %}
